<header>
  <h1>Welcome to Lab1 Javascript Reddit</h1>
</header>

{{!--
<nav>
  {{#link-to "index"}} Home {{/link-to}} {{#link-to "about"}} About {{/link-to}} {{#link-to "contact"}} Contact {{/link-to}}
  {{#link-to "contact.department" "skaterdav85"}} David {{/link-to}} {{#link-to "contact.department" "wycats"}} Yehuda {{/link-to}}
</nav> --}} {{outlet}}

<footer>
  <p>&copy; Uri Rahimi</p>
</footer>